In [9]:
# Import the pandas library to handle data manipulation and analysis
import pandas as pd

# Define the path to the CSV file containing the sales data
file_path = 'fake_sales_data.csv'

# Use pandas to read the CSV file into a DataFrame
# A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to get an initial understanding of the data structure
df.head()

,TransactionID,CustomerID,ProductList,ProductCategoryList,TotalPurchaseAmount,PurchaseDate,PaymentMethod,CustomerAge,CustomerGender,CustomerLocation,PreviousPurchases,AccountCreated
0,56ce86af-a5bc-4cf7-b680-c17e9dcccdbb,3a3003db-a4be-40aa-a2c4-b10abe003d73,"['deliver open-source technologies', 'optimize...","['Synergized encompassing capability', 'Proact...",126.01,2023-05-09,Credit Card,65,Female,North Amandastad,5,0
1,9ef36d79-74c3-477a-a1ea-1bb610855736,047e18e3-1e2b-4d25-a8c7-b67b7db8cb4b,"['seize efficient users', 'implement bleeding-...","['Integrated leadingedge capacity', 'Customiza...",101.52,2021-12-29,Cash,31,Male,Port Kevin,8,1
2,17a09b16-0bc4-4f80-a2de-8ee2ed2a546d,551609e1-60a2-4d78-9b83-ef52ceb9d83f,"['brand 24/365 convergence', 'envisioneer intu...","['Networked 3rdgeneration software', 'Multi-la...",173.37,2020-03-11,Cash,57,Female,South Kathleenstad,0,1
3,6ed652c7-b209-4ed7-86b8-a9a530e6ba50,e3755eb4-0b7e-4300-a307-f64a57b3f36a,"['streamline killer vortals', 'streamline dot-...","['Face-to-face uniform product', 'Grass-roots ...",38.93,2022-05-31,PayPal,48,Female,East Tina,2,1
4,3802948d-898d-4ae4-8353-e02bf90bb32d,137b4416-95ab-4245-8ba6-4958ad257d60,"['extend collaborative markets', 'transition s...","['Synergistic interactive architecture', 'Inno...",95.28,2023-08-03,PayPal,46,Female,Michaelside,5,0

In [10]:
# Generate descriptive statistics to understand the data distribution and scale
# This includes mean, standard deviation, min, max, and quartiles for each numerical column
df.describe()

       TotalPurchaseAmount   CustomerAge  PreviousPurchases  AccountCreated
count         10000.000000  10000.000000       10000.000000     10000.00000
mean            102.699456     41.666600           4.940800         0.50230
std              56.244894     13.867778           3.154884         0.50002
min               5.100000     18.000000           0.000000         0.00000
25%              53.847500     30.000000           2.000000         0.00000
50%             103.055000     42.000000           5.000000         1.00000
75%             151.442500     54.000000           8.000000         1.00000
max             199.980000     65.000000          10.000000         1.00000

In [11]:
# Check for missing values in each column to ensure data integrity
# The function isnull() identifies missing values, and sum() counts them for each column
df.isnull().sum()

TransactionID          0
CustomerID             0
ProductList            0
ProductCategoryList    0
TotalPurchaseAmount    0
PurchaseDate           0
PaymentMethod          0
CustomerAge            0
CustomerGender         0
CustomerLocation       0
PreviousPurchases      0
AccountCreated         0
dtype: int64

In [13]:
# Convert the 'ProductList' column from string to list
# This makes it easier to analyze the products purchased in each transaction
# Use the apply() function to apply a lambda function to each row in the DataFrame. 
from collections import defaultdict
df['ProductList'] = df['ProductList'].apply(lambda x: x.split(','))

# Create a frequency map to count how often each product is purchased by each customer
# We use defaultdict from the collections library for this

# Initialize a nested defaultdict to store frequency counts
customer_product_freq = defaultdict(lambda: defaultdict(int))

# Loop through each row in the DataFrame
for _, row in df.iterrows():
    # Extract the customer ID and list of products from the row
    customer_id = row['CustomerID']
    products = row['ProductList']

    # Update the frequency count for each product purchased by the customer
    for product in products:
        customer_product_freq[customer_id][product] += 1

AttributeError: 'list' object has no attribute 'split'